<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sondes spatiales</title>
</head>

<body>
    <header>
        <h1>Les sondes spatiales </h1>
    </header>

    <main>
        <section>
            <h2> Les sondes X</h2>

        </section>

        <section>
            <h2> Les sondes Y</h2>
        </section>

    </main>
    
</body>
</html>